@import url(../fonts/fonts.css);
@import url(./normalize.css);
.card1 {
  background-color: #1C4280;
}

.card2 {
  background-color: #143646;
}

.card3 {
  background-color: #F48B30;
}

.card4 {
  background-color: #9E4DC3;
}

.card5 {
  background-color: #FD9339;
}

.card6 {
  background-color: #E2E2E4;
}

.card7 {
  background-color: #C71C36;
}

.card8 {
  background-color: #DCF3F9;
}

.card9 {
  background-color: #EAEAEA;
}

.card10 {
  background-color: #282240;
}

.card11 {
  background-color: #1D4568;
}

.card12 {
  background-color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  max-width: 1600px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background: linear-gradient(208.37deg, rgb(50, 50, 100) 6.27%, rgb(50, 50, 100) 58.463%);
  height: 100vh;
  position: relative;
}
.hero .hero-container {
  background-image: url("../images/hero-logo-mobil.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 375px;
  height: 100vh;
}
.hero .hero-container .header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  position: absolute;
  background: rgba(245, 245, 250, 0.2);
  left: 0;
  right: 0;
  top: 0;
}
.hero .hero-container .header-container .header-button {
  color: #FFF;
  font-family: montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.hero .hero-container .header-container .header-button input {
  display: none;
}
.hero .hero-container .header-container .header-button input:checked + .lang-button {
  background-color: #F0145A;
  border-radius: 8px;
}
.hero .hero-container .header-container .header-button label {
  padding: 5px 7px;
}
.hero .hero-container .header-container .header-contacts a {
  color: #FFF;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
}
.hero .hero-container .hero-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  padding: 15px;
}
.hero .hero-container .hero-logo .menu span {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #FFF;
  margin-bottom: 4px;
}
.hero .hero-container .hero-logo .menu span:last-child {
  margin-bottom: 0;
}
.hero .hero-container .hero-title {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.hero .hero-container .hero-title h1 {
  color: #FFF;
  font-family: montserrat, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
.hero .hero-container .button-arrow {
  border: 2px solid rgb(255, 255, 255);
  width: 42px;
  height: 42px;
  border-radius: 21px;
  background-image: url("../images/arrow-white.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  bottom: 15px;
}

.services {
  background: linear-gradient(208.37deg, rgb(50, 50, 100) 0.151%, rgb(50, 50, 100) 59.861%, rgb(100, 62, 114) 99.841%);
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;
}
.services::before {
  content: "";
  background-color: #CACADB;
  height: 10px;
  border-radius: 0 0 12px 12px;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 100%;
}
.services::after {
  content: "";
  background-color: #E7E7F2;
  height: 10px;
  border-radius: 0 0 12px 12px;
  position: absolute;
  left: 40px;
  right: 40px;
  top: calc(100% + 10px);
}
.services .services-wrap a {
  color: #24A3FF;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}
.services .services-wrap a::after {
  content: url("../images/arrow-right.png");
  vertical-align: middle;
}
.services .services-wrap .services-title {
  margin-bottom: 30px;
  margin-top: 10px;
}
.services .services-wrap .services-title h2 {
  color: inherit;
  font-family: montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  margin-top: 0;
  margin-bottom: 0;
  background: linear-gradient(118.16deg, rgb(240, 20, 90), rgb(239, 128, 128));
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.services .services-wrap .services-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}
.services .services-wrap .services-cards .card {
  display: flex;
  flex-direction: column;
}
.services .services-wrap .services-cards .card .card-logo {
  background-color: #FFF;
  width: 92px;
  height: 92px;
  border-radius: 24px;
  margin-bottom: 30px;
  padding: 14px;
}
.services .services-wrap .services-cards .card .card-description h3 {
  color: #24A3FF;
  font-family: montserrat, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 15px;
}
.services .services-wrap .services-cards .card .card-description p {
  color: #FFF;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
}

.team {
  padding-top: 60px;
}
.team .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.team .container img {
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0px 0px;
}
.team .container .team-description {
  padding: 30px;
  background-color: #EDEDF7;
}
.team .container .team-description h2 {
  color: inherit;
  font-family: montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  margin-top: 0;
  margin-bottom: 0;
  background: linear-gradient(118.16deg, rgb(240, 20, 90), rgb(239, 128, 128));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 30px;
}
.team .container .team-description h4 {
  color: #B3B3BA;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 5px;
}
.team .container .team-description a {
  color: #24A3FF;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 5px;
}
.team .container .team-description a::after {
  content: url("../images/arrow-right.png");
}
.team .container .team-description p {
  color: #B3B3BA;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
}
.team .slider {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  padding-top: 30px;
}
.team .slider .slide {
  background-color: #EDEDF7;
  width: 16px;
  height: 16px;
  border-radius: 10px;
}
.team .slider .active {
  background-color: #006CCF;
}

.companies {
  margin-top: 60px;
}
.companies .companies-wrap h3 {
  color: #323264;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
}
.companies .companies-wrap .companies-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 120px);
  padding-top: 30px;
}
.companies .companies-wrap .companies-cards .companies-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.companies .companies-wrap .companies-cards .companies-card:nth-child(n+7) {
  display: none;
}

.publications {
  background-color: #F5F5FA;
  padding-top: 60px;
}
.publications .publications-container a {
  color: #24A3FF;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 5px;
}
.publications .publications-container a::after {
  content: url("../images/arrow-right.png");
  vertical-align: middle;
}
.publications .publications-container h2 {
  color: inherit;
  font-family: montserrat, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  margin-top: 0;
  margin-bottom: 0;
  background: linear-gradient(118.16deg, rgb(240, 20, 90), rgb(239, 128, 128));
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.publications .publications-container .news-cards {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 30px;
}
.publications .publications-container .news-cards .news-card {
  background-color: #FFF;
  margin-bottom: 30px;
}
.publications .publications-container .news-cards .news-card img {
  width: 100%;
  height: 200px;
}
.publications .publications-container .news-cards .news-card .card-description {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 30px;
}
.publications .publications-container .news-cards .news-card .card-description h4 {
  color: #24A3FF;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.publications .publications-container .news-cards .news-card .card-description time {
  color: #B3B3BA;
  font-family: montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.publications .publications-container .news-cards .news-card .card-description p {
  color: #000000;
  font-family: montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
}
.publications .publications-container .news-cards .news-card .card-description .line {
  background-color: #E6E6F0;
  height: 4px;
  width: 100%;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.footer-container .line {
  background-color: #E6E6F0;
  width: 100%;
  height: 2px;
  margin-top: 30px;
}
.footer-container .street {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.footer-container .street h4 {
  color: #323264;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.footer-container .street span {
  color: #24A3FF;
  font-family: montserrat, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.footer-container .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer-container .contacts .email {
  color: #24A3FF;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.footer-container .contacts img {
  width: 38px;
  height: 38px;
}
.footer-container .contacts a {
  color: #24A3FF;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-container .copy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.footer-container .copy p {
  color: #B3B3BA;
  font-family: montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .services .services-wrap .services-title h2 {
    color: inherit;
    font-family: montserrat, sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .services .services-wrap .services-cards {
    grid-template-columns: 1fr 1fr;
  }
  .team .container .team-description h2 {
    color: inherit;
    font-family: montserrat, sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 30px;
  }
  .companies .companies-wrap .companies-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 120px);
  }
  .companies .companies-wrap .companies-cards .companies-card:nth-child(n+7) {
    display: flex;
  }
  .publications .publications-container h2 {
    color: inherit;
    font-family: montserrat, sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .publications .publications-container .news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "news-1 news-2" "news-3 news-3";
    column-gap: 30px;
  }
  .publications .publications-container .news-cards .news1 {
    grid-area: news-1;
  }
  .publications .publications-container .news-cards .news2 {
    grid-area: news-2;
  }
  .publications .publications-container .news-cards .news3 {
    grid-area: news-3;
  }
  .footer-container {
    padding-bottom: 30px;
    grid-template-areas: "line line" "street copy" "contacts contacts";
  }
  .footer-container .line {
    grid-area: line;
  }
  .footer-container .street {
    flex-direction: row;
    grid-area: street;
  }
  .footer-container .street span::before {
    content: "";
    display: inline-block;
    background-color: #B3B3BA;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-right: 10px;
  }
  .footer-container .contacts {
    flex-direction: row;
    grid-area: contacts;
  }
  .footer-container .contacts a::before {
    content: "";
    display: inline-block;
    background-color: #B3B3BA;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-right: 10px;
  }
  .footer-container .copy {
    margin-bottom: 0;
    grid-area: copy;
  }
}
@media (min-width: 1024px) {
  .services .services-wrap .services-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .team .container {
    grid-template-columns: 1fr 1fr;
  }
  .team .container .team-description h2 {
    color: inherit;
    font-family: montserrat, sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 30px;
  }
  .companies .companies-wrap .companies-cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 120px);
  }
  .publications .publications-container h2 {
    color: inherit;
    font-family: montserrat, sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .publications .publications-container .news-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "news-1 news-2 news-3";
  }
}
@media (min-width: 1440px) {
  .team .container {
    grid-template-columns: 400px 2fr;
  }
  .team .container img {
    max-width: 400px;
    max-height: 344px;
  }
}
@media (min-width: 1920px) {
  .team .container {
    grid-template-columns: 1fr 3fr;
  }
  .team .container img {
    max-height: 298px;
  }
  .companies .companies-wrap .companies-cards {
    max-width: 1720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
